<p id="notice"><%= notice %></p>

<h1>Ferramenta</h1>
Cadastre sua ferramenta:
<table  class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Disponibilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ferramenta.each do |ferramentum| %>
      <tr>
        <td><%= ferramentum.nome %></td>
        <td><%= ferramentum.descricao %></td>
        <td><%= ferramentum.disponibilidade %></td>
        <td><%= link_to 'Show', ferramentum %></td>
        <td><%= link_to 'Edit', edit_ferramentum_path(ferramentum) %></td>
        <td><%= link_to 'Destroy', ferramentum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Ferramenta', new_ferramentum_path %>
