<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ferramentum.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @ferramentum.descricao %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @ferramentum.disponibilidade %>
</p>

<%= link_to 'Edit', edit_ferramentum_path(@ferramentum) %> |
<%= link_to 'Back', ferramenta_path %>
