<%= form_for(emprestimo_habilidade) do |f| %>
  <% if emprestimo_habilidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emprestimo_habilidade.errors.count, "error") %> prohibited this emprestimo_habilidade from being saved:</h2>

      <ul>
      <% emprestimo_habilidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :habilidade_id %>
    <%#= f.text_field :habilidade_id %>
  </div>

  <h6>Habilidade:</h6>
  <div class="field">
    <%= f.collection_select :habilidade_id, @habilidades, :id, :nome, {prompt: true}, {class: "browser-default"} %>
  </div>
  <p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
