<%= form_for(habilidade) do |f| %>
  <% if habilidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habilidade.errors.count, "error") %> prohibited this habilidade from being saved:</h2>

      <ul>
      <% habilidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.check_box :possuo_ferramenta %>
    <%= f.label :possuo_ferramenta, id: :possuo_ferramenta %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_area :valor %>
  </div>

  <div class="field">
    <%= f.check_box :disponibilidade %>
    <%= f.label :disponibilidade, id: :disponibilidade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
