<p id="notice"><%= notice %></p>

<h1>Habilidades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Possuo Ferramenta</th>
      <th>Valor</th>
      <th>Disponibilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habilidades.each do |habilidade| %>
      <tr>
        <td><%= habilidade.nome %></td>
        <td><%= habilidade.descricao %></td>
        <td><%= habilidade.possuo_ferramenta %></td>
        <td><%= habilidade.valor %></td>
        <td><%= habilidade.disponibilidade %></td>
        <td><%= link_to 'Show', habilidade %></td>
        <td><%= link_to 'Edit', edit_habilidade_path(habilidade) %></td>
        <td><%= link_to 'Destroy', habilidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Habilidade', new_habilidade_path %>
