<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @habilidade.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @habilidade.descricao %>
</p>

<p>
  <strong>Possuo Ferramenta:</strong>
  <%= @habilidade.possuo_ferramenta %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @habilidade.valor %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @habilidade.disponibilidade %>
</p>


<%= link_to 'Edit', edit_habilidade_path(@habilidade) %> |
<%= link_to 'Back', habilidades_path %>
