<%= form_for(usuario) do |f| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_area :nome %>
  </div>

  <div class="field">
    <%= f.label :login %>
    <%= f.text_area :login %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>

  <div class="field">
    <%= f.label :tel %>
    <%= f.text_area :tel %>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_area :cep %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_area :cidade %>
  </div>

  <div class="field">
    <%= f.label :pais %>
    <%= f.text_area :pais %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
