<!DOCTYPE html>
<html>
  <head>
    <title>QuebraGalho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= nav_bar brand: "Quebra Galho", responsive: true do %>
  	
 	<%= menu_group do %>
 		<%= menu_item "Ferramenta", ferramenta_path %>
        <%= menu_item "Habilidade", habilidades_path %>
        <%= menu_item "Categoria", categoria_path %>
    <% end %>

  	<% end %>
    <%= yield %>
  </body>
</html>
